<div class="container fade-in" >
    <h1>Happy Birthday, Cutie Pie!!!</h1>
    <h4>Dear Hanna,</h4>
    <div>
        <p>
        I love you so much... like, a ridiculous amount. From our first outing at the science museum, I knew that you were someone special and you have only continued to prove that to me. 

        Day in and day out...

        In life, all I wanted was someone to love, who loves me. You? You don't just tell me you love me. You show me that you love me every day. 

        I wanted someone to support, who supports me. You? You don't just say, "You can do it!". You push me to do it and sit through the boring hours that come with it.

        I wanted someone to respect, who respects me. You? I know that you value and respect me. I trust you more than I ever thought I could trust again.

        This isn't meant to be a love letter, but instead a tiny reminder of just a few things that make you so amazing and valuable to this world and to me. 

        I look forward to the many birthdays we have ahead of us. 

        </p>
        <p>Oh, also I mentioned last year that I could make a website to track hugs banked for you. You then mentioned your birthday to me LOL... This isn't that but, here is the next best thing:</p>
        
        <div class="coupon-wrapper">
            <button class="reveal-btn" (click)="showCoupon = true" *ngIf="!showCoupon">
                🎁 Click to reveal your birthday surprise
            </button>

            <div class="coupon-card" *ngIf="showCoupon">
                <h3 class="coupon-header">🎁 Birthday Gift</h3>
                <div>
                    <p class="coupon-description">
                        This coupon entitles you to unlimited hugs and kisses upon request. 
                    </p>
                </div>
                <div>
                    <p class="coupon-description">
                        💖 Valid forever 💖
                    </p>
                </div>
                <div>
                    <p class="coupon-description">
                        🛳️ PS: Your part of the cruise has been paid off. Bon voyage!
                    </p>
                </div>
            </div>
        </div>

        <h4>I love you so much, </h4>
        <h3>Erick 💖</h3>
        
    </div>

    <div class="image-gallery">
        <img src="assets/images/trip.jpg" alt="I love you" class="birthday-image" />
    </div>

</div>